body {
  max-width: 800px;
  margin: 50px auto;
  background-size: 100% auto;
  box-shadow: 0px 0px 8px rgba(155, 155, 155, 1);
}
body, p, td {
  color: #ffcc99;
  font: 16px sans-serif;
}
h3 {
  font: 24px sans-serif;
}
.big {
  font-size: 24px;
}
.title {
  text-align: center;
  background-color: rgba(50, 100, 50, 0.8);
  padding: 16px;
}
.title p {
  font-family: 'Tangerine';
  font-size: 72px;
  margin: 0;
}
.text {
  background-color: rgba(50, 100, 50, 1);
  padding: 16px;
}
.backlink {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.backlink p {
  margin: 0;
}
a:link {
  color: #ffcc99;
}
a:visited {
  color: #ffcc99;
}
a:active {
  color: #ffffff;
}
a.big {
  padding: 30px;
  display: block;
  text-decoration: none;
}
a.big:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
table {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
}
td {
  padding: 16px;
}
.green1 {
  background-color: rgba(50, 100, 50, 1);
}
.green2 {
  background-color: #448800;
}
.green3 {
  background-color: #44AA00;
}
.green4 {
  background-color: #337711;
}
.green5 {
  background-color: rgba(50, 100, 50, 1);
}
.green6 {
  background-color: #00AA11;
}
.center {
  text-align: center;
}
